<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Security</title>
</head>
<body>
Add new user

<!-- Если присутствует поле message показать его -->
{{#message}}
    {{message}}
{{/message}}

<form action="/registration" method="post">
    <div><label> User Name: <input type="text" name="username" /> </label></div>
    <div><label> Password: <input type="password" name="password" /> </label></div>

    <!-- Защита от хакерских атак(только для mustache) -->
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

    <div><input type="submit" value="Sign In" /></div>
</form>
</body>
</html>